.App * {
  text-align: center;
  border: solid grey 3px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 50px;
  gap: 1px 1px;
  grid-template-areas: 'navBar' 'main' 'Footer';
}

.navBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: '. . . . .';
  grid-area: navBar;
}

.Footer {
  grid-area: Footer;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 65px 1fr;
  gap: 1px 1px;
  grid-template-areas: '. search .' 'mainDisplay mainDisplay mainDisplay';
  grid-area: main;
}

.mainDisplay {
  grid-area: mainDisplay;
}

.search {
  grid-area: search;
}
